form {
  display:none;
  position:absolute;
  top: 20vw;
  left: 30vh;
  align-content: center;
  text-align: center;
  width: 20vw;
  height: 30vh;
  padding: 1vw;
  background-color: #DEE1DC;
  border: 0.1vw solid;
}

form div {
  margin-top: 1vw;
  font-size: 1vw;
  font-family: fantasy;
  text-transform: capitalize;
  letter-spacing: 0.2vw;
}

.form-button{
  text-transform: capitalize;
}

.form-img {
  width: 5vw;
  height: 5vh;
}

.score-label , .score-number {
  text-transform: uppercase;
}
