/****HEADER*******/
.header{
  background-color: #DEE1DC;
  display: flex;
  flex-direction: row;
  height: 20vh;
}

.menu{
  font-family:Arial, Helvetica, sans-serif;
  width: 40vw;
  height: 10vh;
  font-size: 3vw;
}

.menu img{
  justify-content: center;
  width: 10vw;
  height: 19vh;
  border: 0.3vw solid;
}

.menu img:hover{
  border: 0.2vw inset;
}

.menu ul{
  display: none;
  position: absolute;
}

.menu:hover ul{
  display: block;
}

.listmenu li:hover{
  opacity: 0.6
}

.listmenu li h2 {
  font-size: 2vw;
  width: 15vw;
  height: 5vh;
  font-family:Arial, Helvetica, sans-serif;
  background-color: #040404;
  color: #8BF779;
  display:block;
}

.header-title{
  display: flex;
  align-items: flex-end;
  font-size: 15vh;
  text-align: center;
  margin-left:5vw;
  text-transform: uppercase;
}

/****BODY*******/
body{
  background-color: #353434;
}

.board{
  display:flex;
  flex-direction:row;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  padding: 1vw;
  margin-top: 2vh;
}

.board .mainrow{
    background-color: #000000;
    border: 0.3vw solid #E4E0E0;
}

.board button{
  width: 3vw;
  height: 3vw;
  margin: 1vw;
  border: 0.2vw solid #999;
  border-radius:2vw;
}

.board button.hidden{
  visibility:hidden;
}

.board button.peg{
  background-color: #29C90F;
}

.board button.selected{
  background-color: #A1A6A0;
}

.board button.selected:active{
  background-color: #006600;
}

.board button.suggestion{
  background-color: #FFce65;
}

.score{
  display:flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10vh;
}

.score div{
  margin-left: 2vw;
  padding: 1vw;
  border-style:groove;
  border-width: 0.5vw;
  background-color: #000000;
  font-family: Impact, sans-serif;
  letter-spacing: 0.6vw;
  color:#76F361;
  font-size: 2vw;
}

.button-score img {
  height: 5vh;
  width: 5vw;
  padding: 0vw;
}

/******FOOTER******/
.footer{
  margin-top:2vw;
  padding-top: 2vw;
  display: flex;
  align-items: flex-start;
  background-color:  #DEE1DC;
}

.footer-left{
     margin-left: 3vw;
}

.footer-left input{
   border: none;
   border-radius: 0;
   background-color: transparent;
   border-bottom: solid 1px rgb(201, 201, 201);
   text-decoration: none;
   width: 300px;
   height: 40px;
}

.footer-send{
  margin-top: 3vh;
}

.footer-right{
  margin-left: 5vw;
}

.footer-follow ul{
  display: flex;
  flex-direction: row;
}

.follow-list li a{
  margin: 5px;
  background-color: transparent;
  border: solid 1px #000000;
  border-style: inset;
  border-radius: 0.2vw;
  display: inline-block;
  text-align: center;
}

.follow-item img{
  height: 8vh;
  width: 8vw;
  margin: 2vw;
  display:block;
  margin:auto;
  background-color 0.2s: transparent;
  color #000000 ;
  border-color 0.2s ease-in-out: ;
  background-color: transparent;
  border: solid 1px #c9c9c9;
  border-radius: 4px;
  width: 40px;
  height: 40px;
  display: block;
  text-align: center;
  line-height: 2.65em;
  color: inherit;
}

.footer-right h3{
  font-family: fantasy;
  font-size: 1vw;
  line-height: 1.5;
  letter-spacing: 0.2vw;
  color: #000000;
  text-transform: uppercase;
}
/******FORM***********/
form {
  position:absolute;
  top: 20vw;
  left: 30vh;
  align-content: center;
  text-align: center;
  border: 0.1vw solid;
  display:none;
  width: 20vw;
  height: 30vh;
  padding: 1vw;
  background-color: #DEE1DC;
}

form div{
  font-size: 1vw;
  font-family: fantasy;
  margin-top: 1vw;
  text-transform: uppercase;
  letter-spacing: 0.2vw;
}

.form-img{
  width: 5vw;
  height: 5vh;
}
